/* ================= PAGE ================= */

.cart-page {
  display: flex;
  gap: 30px;
  padding: 40px 60px;
  height: 85vh;
  width: 100vw;
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

/* ================= LIGHT ================= */

.light .cart-items,
.light .cart-summary {
  background: #ffffff;
}

.light .cart-item {
  border-bottom: 1px solid #eee;
}

.light h2,
.light h3 {
  color: #000;
}

/* ================= DARK ================= */

.dark {
  background: #0f0f0f;
  color: #ffffff;
}

.dark .cart-items,
.dark .cart-summary {
  background: #1a1a1a;
}

.dark .cart-item {
  border-bottom: 1px solid #333;
}

.dark h2,
.dark h3 {
  color: #ffffff;
}

/* ================= LEFT ================= */

.cart-items {
  flex: 2;
  padding: 24px;
  border-radius: 12px;
}

.cart-item {
  display: flex;
  gap: 20px;
  padding: 16px 0;
}

.cart-item img {
  width: 110px;
  height: 110px;
  object-fit: contain;
  background: #f1f1f1;
  border-radius: 10px;
}

.dark .cart-item img {
  background: #222;
}

.item-info {
  flex: 1;
}

.item-info h4 {
  font-size: 16px;
  margin-bottom: 6px;
}

.item-info h5 {
  color: darkgreen;
  margin-bottom: 5px;
}

.dark .item-info h5 {
  color: #6dff6d;
}

.item-info p {
  font-weight: bold;
  margin-bottom: 10px;
}

/* ================= QUANTITY ================= */

.quantity {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.quantity button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background: #ff7700;
  color: #fff;
  cursor: pointer;
}

/* ================= REMOVE ================= */

.remove {
  background: none;
  border: none;
  color: #e53935;
  cursor: pointer;
}

/* ================= RIGHT ================= */

.cart-summary {
  flex: 1;
  padding: 24px;
  border-radius: 12px;
  height: fit-content;
}

.cart-summary h3 {
  margin-bottom: 20px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.summary-row.total {
  font-size: 18px;
  font-weight: bold;
}

/* ================= BUTTON ================= */

.checkout-btn {
  width: 100%;
  padding: 14px;
  background: #000;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.dark .checkout-btn {
  background: #ffffff;
  color: #000;
}
