.cart-wrapper {
  height: 85vh;
  width: 100vw;
  padding: 20px;
}

.cart-title {
  font-size: 26px;
  margin-bottom: 20px;
}

.cart-layout {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.cart-left {
  flex: 3;
}

.cart-right {
  flex: 1;
  background: var(--card-bg);
  padding: 20px;
  border-radius: 8px;
  position: sticky;
  top: 20px;
}

.cart-item {
  display: flex;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: 140px;
  height: 140px;
  object-fit: contain;
}

.cart-info h4 {
  font-size: 16px;
  margin-bottom: 6px;
}

.price {
  font-weight: 600;
}

.stock {
  color: green;
  font-size: 14px;
}

.cart-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.qty-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
}

.qty-box button {
  padding: 4px 10px;
  cursor: pointer;
}

.qty-box span {
  padding: 0 10px;
}

.remove-btn {
  background: none;
  border: none;
  color: #007185;
  cursor: pointer;
}

.remove-btn:hover {
  text-decoration: underline;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.total {
  font-size: 25px;
  font-weight: bold;
}

.checkout-btn {
  width: 100%;
  padding: 14px;
  background: #ff6a00;
  border: none;
  border-radius: 20px;
  font-weight: 800;
  cursor: pointer;
  font-size: large;
  color: #fff;
}

.checkout-btn:hover {
  background: #da620c;
}

/* THEME */
.light {
  background: #f5f5f5;
  color: #000;
  --card-bg: #fff;
}

.dark {
  background: #0f172a;
  color: #fff;
  --card-bg: #1e293b;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .cart-layout {
    flex-direction: column;
  }

  .cart-right {
    position: static;
  }
}
