.sidebar {
  position: fixed;
  top: 200px;
  left: 35px;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #ecece6;
  border-radius: 10px;
  width: 55px;
}

.sidebar-item {
  width: 55px;
  height: 48px;
  border-radius: 14px;
  background: #ecece6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #555;
  transition:
    background 0.2s ease,
    color 0.2s ease,
    transform 0.15s ease;
}

.sidebar-item:hover {
  background: #e0e0da;
}

.sidebar-item.active {
  background: #000;
  color: #fff;
}
