.main-content-container {
  margin-top: 20px;
  height: calc(100vh - 98px);
  display: flex;
  width: 100vw;
  flex-direction: column;
  gap: 40px;
}

.hero-banner {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  background: #f5f5f5;
  padding: 15px;
  height: 220px;
}

#availabilityStatus {
  color: green;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left: 30vw;
}

/* transparent overlay */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.85) 0%,
    rgba(255, 255, 255, 0.4) 35%,
    rgba(255, 255, 255, 0) 60%
  );
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-overlay h1 {
  font-size: 32px;
  font-weight: 700;
}

.subtitle {
  font-size: 16px;
  color: #555;
}

.brands {
  display: flex;
  gap: 12px;
  font-size: 14px;
  color: #222;
  font-weight: 500;
}

.shop-btn{ 
  margin-top: 14px;
  width: fit-content;
  padding: 12px 22px;
  border-radius: 10px;
  border: none;
  background: black;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

/* arrows */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.nav.left {
  left: 16px;
}

.nav.right {
  right: 16px;
}

.still-you-want {
  margin-top: 25px;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
