@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Liter:wght@300;400;500;600&display=swap");

.signup {
  max-width: 280px;
  background-color: #ffffff;
  border-radius: 5px;
}
.hader {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}
.hader p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #706b6b;
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
.gender-group {
  height: 70px;
  outline: none;
  border: 1px solid #cccccc;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 20px;
}
form input {
  height: 40px;
  outline: none;
  border: 1px solid #cccccc;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
}
form input[type="submit"] {
  background-color: #ff6d1f;
  color: #ffffff;
  font-size: 17px;
  cursor: pointer;
  height: 50px;
}
form span {
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  color: #ff6d1f;
}
.logo-name {
  color: #ff6d1f;
  font-family: "Pacifico", cursive;
}
form span a {
  text-decoration: none;
  color: rgba(36, 36, 207, 0.671);
  font-weight: 500;
}
