@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Liter:wght@300;400;500;600&display=swap");

/* Navbar */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 28px;
  background: #ffffff;
  border-bottom: 1px solid #eee;
}

/* Logo */
.nav-logo {
  font-family: "Pacifico", cursive;
  font-size: 26px;
  color: #e85c12;
  cursor: pointer;
}

/* Search */
.search-input {
  flex: 1;
  max-width: 420px;
  padding: 10px 14px;
  border-radius: 12px;
  border: 2px solid #e85c12;
  font-family: "Liter", sans-serif;
  font-size: 14px;
}

.search-input:focus {
  outline: none;
}

/* Links */
.nav-links {
  display: flex;
  gap: 22px;
  list-style: none;
  margin: 0 20px;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #e85c12;
  font-family: "Liter", sans-serif;
  font-weight: 500;
}

/* Profile */
.profile {
  position: relative;
  cursor: pointer;
}

.profile-icon {
  font-size: 38px;
  cursor: pointer;
  color: #111;
}

/* ===== Account Card ===== */
.account-card {
  position: absolute;
  top: 55px;
  right: 0;
  width: 320px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  z-index: 1000;
}

/* Header */
.account-header {
  background: #ff5722;
  color: #fff;
  padding: 12px 16px;
  font-weight: 600;
}

/* Body */
.account-body {
  padding: 20px;
}

/* Profile section */
.profile-section {
  display: flex;
  gap: 18px;
  align-items: center;
  flex-direction: column;
}

/* Avatar */
.avatar {
  width: 56px;
  height: 56px;
  background: #fdefe3;
  color: #ff5722;
  border-radius: 50%;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

/* User info */

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info h3 {
  margin: 0;
  font-size: 16px;
}

.email {
  padding: 0;
  margin-bottom: 20px;
  font-size: small;
}


.phone {
  margin: 10px 0 8px;
  font-size: 13px;
  color: #666;
}

/* Chips */
.chips {
  display: flex;
  gap: 6px;
}

.chip {
  background: #f1f3f6;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 11px;
}

/* Divider */
.divider {
  height: 1px;
  background: #eee;
  margin: 18px 0;
}

/* Logout */
.logout-btn {
  width: 100%;
  padding: 10px;
  border-radius: 999px;
  border: 1px solid #ff5722;
  background: transparent;
  color: #ff5722;
  font-weight: 600;
  cursor: pointer;
}

.logout-btn:hover {
  background: #ff5722;
  color: #fff;
}
