@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Liter:wght@300;400;500;600&display=swap");

/* Navbar */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 28px;
  background: #ffffff;
  border-bottom: 1px solid #eee;
  height: 10vh;
}

.dark {
  background-color: #111;
  color: white;
}

/* Logo */
.nav-logo {
  font-family: "Pacifico", cursive;
  font-size: 26px;
  color: #e85c12;
  cursor: pointer;
}

/* Search */
.search-input {
  flex: 1;
  max-width: 420px;
  padding: 10px 14px;
  border-radius: 12px;
  border: 2px solid #e85c12;
  font-family: "Liter", sans-serif;
  font-size: 14px;
}

.search-input:focus {
  outline: none;
}

/* Links */
.nav-links {
  display: flex;
  gap: 22px;
  list-style: none;
  margin: 0 20px;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #e85c12;
  font-family: "Liter", sans-serif;
  font-weight: 800;
}

.toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.5em;
  padding: 0.125em;
  background-image: linear-gradient(to bottom, #d5d5d5, #e8e8e8);
  box-shadow: 0 1px 1px rgb(255 255 255 / 0.6);
  /* resize for demo */
  font-size: 1.5em;
}

.toggle-checkbox {
  appearance: none;
  position: absolute;
  z-index: 1;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  /* fix em sizing */
  font: inherit;
  opacity: 0;
  cursor: pointer;
}

.toggle-container {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 0.375em;
  width: 3em;
  height: 1.2em;
  background-color: #e8e8e8;
  box-shadow:
    inset 0 0 0.0625em 0.125em rgb(255 255 255 / 0.2),
    inset 0 0.0625em 0.125em rgb(0 0 0 / 0.4);
  transition: background-color 0.4s linear;
}

.toggle-checkbox:checked + .toggle-container {
  background-color: #ff7b00;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0.0625em;
  border-radius: 0.3125em;
  width: 1.375em;
  height: 1.1em;
  background-color: #e8e8e8;
  box-shadow:
    inset 0 -0.0625em 0.0625em 0.125em rgb(0 0 0 / 0.1),
    inset 0 -0.125em 0.0625em rgb(0 0 0 / 0.2),
    inset 0 0.1875em 0.0625em rgb(255 255 255 / 0.3),
    0 0.125em 0.125em rgb(0 0 0 / 0.5);
  transition: left 0.4s;
}

.toggle-checkbox:checked + .toggle-container > .toggle-button {
  left: 1.5625em;
}

.toggle-button-circles-container {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 0.125em;
  position: absolute;
  margin: 0 auto;
}

.toggle-button-circle {
  border-radius: 50%;
  width: 0.125em;
  height: 0.125em;
  background-image: radial-gradient(circle at 50% 0, #f5f5f5, #c4c4c4);
}

/* Profile */
.profile {
  position: relative;
  cursor: pointer;
  font-size: 35px;
}

.profile-icon {
  cursor: pointer;
  color: #000000;
}

/* ===== Account Card ===== */
.account-card {
  position: absolute;
  top: 55px;
  right: 0;
  width: 320px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  z-index: 1000;
}

/* Header */
.account-header {
  background: #ff5722;
  color: #fff;
  padding: 12px 16px;
  font-weight: 600;
}

/* Body */
.account-body {
  padding: 20px;
}

/* Profile section */
.profile-section {
  display: flex;
  gap: 18px;
  align-items: center;
  flex-direction: column;
}

/* Avatar */
.avatar {
  width: 56px;
  height: 56px;
  background: #fdefe3;
  color: #ff5722;
  border-radius: 50%;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.pageNavigateOption {
  font-size: 40px;
  display: none;
}

/* User info */

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info h3 {
  margin: 0;
  font-size: 16px;
}

.email {
  padding: 0;
  margin-bottom: 20px;
  font-size: small;
}

.phone {
  margin: 10px 0 8px;
  font-size: 13px;
  color: #666;
}

/* Chips */
.chips {
  display: flex;
  gap: 6px;
}

.chip {
  background: #f1f3f6;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 11px;
}

/* Divider */
.divider {
  height: 1px;
  background: #eee;
  margin: 18px 0;
}

/* Logout */
.logout-btn {
  width: 100%;
  padding: 10px;
  border-radius: 999px;
  border: 1px solid #ff5722;
  background: transparent;
  color: #ff5722;
  font-weight: 600;
  cursor: pointer;
}

.logout-btn:hover {
  background: #ff5722;
  color: #fff;
}

/* tab */
@media (max-width: 1319px) {
  .nav-logo {
    display: none;
  }
}

/* Small device */
@media (max-width: 480px) {
  .nav-links {
    display: none;
  }

  .nav-logo {
    display: block;
    font-size: 15px;
    margin-right: 10px;
  }

  .search-input {
    margin-right: 20px;
  }

  .profile {
    display: none;
  }

  .pageNavigateOption {
    display: block;
    font-size: 30px;
  }

  .toggle-wrapper {
    margin-left: 20px;
  }

  .toggle-container {
    width: 2em;
    height: 1em;
  }

  .toggle-button {
    width: 1em;
    height: 1em;
  }

  .toggle-checkbox:checked + .toggle-container > .toggle-button {
    left: 0.99em;
  }

  .search-input {
    height: 35px;
  }
}
