@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Liter&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  color: #000000;
  font-family: "Liter", sans-serif;
  font-weight: 400;
  font-style: normal;
}
