.checkout-page {
  display: flex;
  gap: 30px;
  padding: 30px;
  background: #f6f7f9;
  width: 100vw;
  height: calc(100vh - 98px);
}

/* LEFT */
.checkout-left {
  flex: 2;
}

.checkout-left h2 {
  margin-bottom: 20px;
}

.checkout-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  margin-top: 30px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.checkout-card h3 {
  margin-bottom: 12px;
}

.checkout-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.checkout-card label {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
}

/* RIGHT */
.checkout-right {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  height: fit-content;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.checkout-right h3 {
  margin-bottom: 15px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 8px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.summary-row.total {
  font-weight: bold;
  font-size: 18px;
}

.place-order-btn {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  background: #111;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.place-order-btn:hover {
  background: #333;
}

span {
  font-size: 15px;
}

.addAddress-btn {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  background: #111;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.addAddress-btn:hover {
  background: #333;
}
