.checkout-wrapper {
  display: flex;
  gap: 30px;
  padding: 30px;
  background: #f6f7fb;
  height: calc(100vh - 98px);
  font-family: sans-serif;
  width: 100vw;
}

/* LEFT */
.checkout-left {
  flex: 2;
  background: #fff;
  padding: 24px;
  border-radius: 14px;
}

.back-btn {
  background: none;
  border: none;
  font-size: 14px;
  margin-bottom: 16px;
  cursor: pointer;
}

.option {
  border: 1px solid #ddd;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 12px;
  cursor: pointer;
}

.option.active {
  border-color: #6c63ff;
  background: #f2f1ff;
}

.section {
  margin-top: 20px;
}

.section h4 {
  margin-bottom: 10px;
}

.address-box {
  border: 1px solid #ddd;
  padding: 14px;
  border-radius: 10px;
  position: relative;
}

.address-box .edit {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

.payment-methods {
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
}

.pay {
  border: 1px solid #ddd;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  background: #fff;
}

.pay.active {
  border-color: #6c63ff;
  background: #f2f1ff;
}

.checkout-left input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.card-row {
  display: flex;
  gap: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.back-outline {
  border: 1px solid #ddd;
  background: #fff;
  padding: 12px 20px;
  border-radius: 10px;
}

.confirm {
  background: #e85c12;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* RIGHT */
.checkout-right {
  flex: 1;
  background: #fff;
  padding: 24px;
  border-radius: 14px;
  height: fit-content;
}

.checkout-right h4 {
  margin-bottom: 20px;
}

.summary-item,
.summary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

.summary-row.total {
  font-weight: bold;
  font-size: 16px;
  margin-top: 7px;
}

.saving {
  margin: 14px 0;
  background: #e6fff1;
  padding: 10px;
  border-radius: 10px;
  font-size: 13px;
  color: #0a7a45;
}

.coupon {
  display: flex;
  gap: 8px;
}

.coupon input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.coupon button {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  background: #111;
  color: #fff;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  width: 420px;
  padding: 20px;
  border-radius: 12px;
  animation: pop 0.25s ease;
}

@keyframes pop {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

