.cart-page {
  display: flex;
  gap: 30px;
  padding: 40px 60px;
  background: #f6f7f9;
  height: calc(100vh - 98px);
  width: 100vw;
}

/* LEFT */
.cart-items {
  flex: 2;
  background: white;
  padding: 24px;
  border-radius: 12px;
}

.cart-items h2 {
  margin-bottom: 20px;
  color: #000;
}

.cart-item {
  display: flex;
  gap: 20px;
  padding: 16px 0;
  border-bottom: 1px solid #eee;
}

.cart-item img {
  width: 110px;
  height: 110px;
  object-fit: contain;
  background: #f1f1f1;
  border-radius: 10px;
}

.item-info {
  flex: 1;
}

.item-info h4 {
  font-size: 16px;
  margin-bottom: 6px;
}

.item-info h5 {
  color: darkgreen;
  margin-bottom: 5px;
}

.item-info p {
  font-weight: bold;
  margin-bottom: 10px;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.quantity button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background: #111;
  color: white;
  cursor: pointer;
}

.remove {
  background: none;
  border: none;
  color: #e53935;
  cursor: pointer;
  font-size: 14px;
}

/* RIGHT */
.cart-summary {
  flex: 1;
  background: white;
  padding: 24px;
  border-radius: 12px;
  height: fit-content;
}

.cart-summary h3 {
  margin-bottom: 20px;
  color: #000;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.summary-row.total {
  font-size: 18px;
  font-weight: bold;
}

.checkout-btn {
  width: 100%;
  padding: 14px;
  background: #000000;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
